
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Listagens</h1>
    <ul class="ulnav">
        <li><a href="api/lancamento">Listar lançamentos</a></li>
        <li><a href="api/categoria">Listar categoria</a></li>
    </ul>
    <br />
    <br />
    <h3>Cadastro Lançamento</h3>
    <p>
        {
        "nomeLancamento": "",
        "categoria": ,
        "sinopse": "",
        "tipo": "",
        "duracao": "",
        "lancamento": ""
        }
    </p>
    <h3>Cadastro Usuario</h3>
    <p>
        {
        "nomeUsuario": "",
        "email": "",
        "senha": ""     
        }
    </p>
    <h3>Cadastro Categoria</h3>
    <p>
        {
        "nomeCategoria": ""
        }
    </p>
</body>
</html>
